version: "3.8"

services:
  mysqldb:
    image: mysql:5.7
    restart: unless-stopped
    container_name: mysql
    networks:
      - requestapp
    volumes:
      - /home/docker/volumes/myapp/mysql/:/var/lib/mysql/
    ports:
      - "3306:3306"

  app:
    depends_on:
      - mysqldb
    build: .
    container_name: app
    networks:
      - requestapp
    restart: on-failure
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysqldb:3306/request?createDatabaseIfNotExist=true&useTimezone=true&serverTimezone=UTC
    ports:
      - "8080:8080"

networks:
  requestapp:
    driver: bridge