name: Running tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
env:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: request

jobs:
  postgres:
    runs-on: ubuntu-latest
    container:
      image: postgres:15.2
      env:
        POSTGRES_USER: ${{ env.POSTGRES_USER }}
        POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
        POSTGRES_DB: ${{ env.POSTGRES_DB }}
      ports:
        - "5432:5432"

  running-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Running tests
      run: mvn clean test
