name: Running tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  running-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Getting Postgres image from docker
      run: docker run -e POSTGRES_PASSWORD=postgres -e POSTGRES_DB=request -e POSTGRES_USER=postgres -p 5432:543  2 postgres:15.2
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Running tests
      run: mvn clean test